<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PicShare</title>

    <link rel="stylesheet" href="styles/style2.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Piazzolla:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <h1>Gallery</h1>
    <h3>Posted by PicShare users</h3>
    <div>
      <div class="alignment">
        <% items.forEach(function(image) { %>

        <div class="items">
          <a href="/images/<%=image._id%>"
            ><img
              style="width: 100%; height: auto; margin: 1vh"
              src="data:image/<%=image.img.contentType%>;base64, 
					<%=image.img.data.toString('base64')%>"
            />
          </a>
          <p>Click Image to know more.......</p>
        </div>

        <% }) %>
      </div>
    </div>
  </body>
</html>
