* {
  margin: 1vh;
  box-sizing: border-box;
  font-family: "Piazzolla", serif;
}
.alignment {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

img {
  border: 3px red solid;
  margin: 2vh;
}

h1 {
  margin: 2vh;
}
